parameters:
    ignoreErrors:
        -
            identifier: missingType.iterableValue
    level: 7
    excludePaths:
        - '%rootDir%/../../../src/Spryker/ProductSet/src/Spryker/Client/ProductSet/Plugin/Elasticsearch/Query/ProductSetListQueryPlugin.php'
